<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <!--<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata  httpGetEnabled="true" httpGetUrl="http://127.0.0.1:9999/calculatorservice/metadata"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="metadataBehavior" name="Service.CalculatorService">
        <endpoint address="http://127.0.0.1:9999/calculatorservice" binding="wsHttpBinding" contract="Contracts.ICalculator"></endpoint>
      </service>
    </services>
    
  </system.serviceModel>-->


  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="calculatorServieBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service behaviorConfiguration="calculatorServieBehavior" name="Service.CalculatorService">
        <endpoint address="" binding="basicHttpBinding" contract="Contracts.ICalculator">
          <headers>
            <role>admin</role>
          </headers>
        </endpoint>
        <endpoint address="" binding="netTcpBinding" contract="Contracts.ICalculator" />
       
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8888/generalcalculator" />
            <add baseAddress="net.tcp://localhost:9999/generalCalculator" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

<!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="calculatorServiceBehavior">
          <serviceMetadata httpGetEnabled ="true"></serviceMetadata>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="Service.CalculatorService" behaviorConfiguration="calculatorServiceBehavior">
        <endpoint binding="basicHttpBinding" contract="Contracts.ICalculator"></endpoint>
      </service>
    </services>
  </system.serviceModel>

  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Transactions.Bridge, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.IdentityModel.Selectors, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
  </system.web>
 
<!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

</configuration>