<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <!--<system.serviceModel>
      <client>
          <endpoint address="http://127.0.0.1:9999/calculatorservice" binding="wsHttpBinding" contract="Contracts.ICalculator" name="calculatorservice" />
      </client>
   </system.serviceModel>-->

 <system.serviceModel>
    <client>
    <endpoint address="http://localhost:8888/generalCalculator" binding="basicHttpBinding" contract="Contracts.ICalculator" name="selfHostEndpoint_http"/>
       <endpoint address="net.tcp://localhost:9999/generalCalculator" binding="netTcpBinding" contract="Contracts.ICalculator" name="selfHostEndpoint_tcp"/>
       <endpoint address="http://localhost/wcfservice/GeneralCalculatorService.svc" binding="basicHttpBinding" contract="Contracts.ICalculator" name="iisHostEndpoint"/>
    </client>
  </system.serviceModel>
</configuration>